.main-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 161px;
    padding-bottom: 182px;
    background-color: #FFE600;
    position: relative;
    overflow: hidden;
    &__wrap {
        width: 1024px;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-bottom: 120px solid #ffffff;
            border-left: 100vw solid transparent;
            background: transparent;
            z-index: 1;
        }
    }
    &__block {
        width: 492px;
    }
    &__title {
        color: #363636;
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-size: 36px;
        font-weight: 900;
        line-height: 1.3em;
        margin-top: 0px;
        margin-bottom: 40px;
    }
    &__text {
        color: #363636;
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 45px;
    }
    &__links {
        display: flex;
        align-items: flex-start;
    }
    &__link {
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-size: 16px;
        font-weight: 700;
        transition: 0.5s;
        border-radius: 26px;
        margin-right: 25px;
        padding: 15px 42px;
        line-height: 21px;
        &:last-child {
            margin-right: 0px; 
        }

        &--rek {
            color: #363636;
            background-color: #69DDCA;
            border: 1px solid #69DDCA;
            &:hover {
                color: #69DDCA;
                background-color: transparent;
            }
        }
        &--blog {
            background-color: #FF0099;
            border: 1px solid #FF0099;
            color: #fff;
            &:hover {
                color: #FF0099;
                background-color: transparent;
            }
        }
    }
}

@media (max-width: 1100px) {
    .main-1 {
        &__wrap {
            width: 96%;
        }
        &__block {
            width: 96%;
        }
        &__title {
            text-align: center;
        }
        &__text {
            text-align: center;
        }
        &__links {
            justify-content: center;
        }
    }
}

@media (max-width: 500px) {
    .main-1 {   
        &__title {
            font-size: 30px;
        }
        &__text {
            font-size: 16px;
        }
        .main-1__link {
            font-size: 14px;
            margin-right: 10px;
            padding: 15px 25px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}