.main-7 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffe600;
    overflow: hidden;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 120px solid #fff;
        border-right: 100vw solid transparent;
        background: 0 0;
        z-index: 2;
    }
    &__wrap {
        width: 1024px;
    }
    &__title {
        color: #363636;
        font-family: "SF Pro Display",Sans-serif;
        font-size: 30px;
        font-weight: 600;
        text-transform: none;
        line-height: 42px;
        margin: 180px 0 80px;
        text-align: center;
    }
}