.main-5 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    &__wrap {
        width: 1024px;
    }
    &__title {
        color: #363636;
        font-family: "SF Pro Display", Sans-serif;
        font-size: 30px;
        font-weight: 700;
        text-transform: none;
        line-height: 1.4em;
        text-align: center;
        margin-bottom: 40px;
    }
    &__items {
        display: flex;
        justify-content: center;
    }
    &__item {
        border: 1px solid #FFE500;
        padding: 15px;
        border-radius: 10px;
        position: relative;
        margin-right: 20px;
        width: 231px;
        &::after {
            color: #e6e6e6;
            position: absolute;
            font-size: 40px;
            top: 20px;
            right: 15px;
            font-weight: 700;
        }
        &:nth-child(1) {
            &::after {
                content: '01'
            }
        }
        &:nth-child(2) {
            &::after {
                content: '02'
            }
        }
        &:nth-child(3) {
            &::after {
                content: '03'
            }
        }
        &:nth-child(4) {
            &::after {
                content: '04'
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__text {
        color: #363636;
        font-family: "SF Pro Display", Sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5em;
        &--description {
            font-size: 12px;
            font-weight: 300;
            margin-top: 5px;
        }
    }
    &__svg {
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 4px solid #ff009e;
        box-shadow: 0 0 21px 3px rgba(255,0,153,0.20);
    }
    &__ua-logo {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        &-img {
            width: 76px;
            height: 59px;
        }
    }
}

@media (max-width: 1100px) {
    .main-5 {
        &__wrap {
            width: 96%;
        }
        &__items {
            flex-direction: column;
        }
        &__item {
            width: 100%;
            margin: 0 0 20px 0;
        }
    }
}