.main-9 {
    width: 100%;
    display: flex;
    justify-content: center;

    &__wrap {
        width: 1024px;
        margin: 30px 0px 120px 0px;
    }
    &__block {
        background-color: #FF0099;
        padding: 30px 100px 30px 100px;
        border-radius: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-left {
            padding: 75px 0;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: -31px;
                top: -61px;
                box-shadow: 0 0 10px 3px rgba(105, 221, 202, 0.38%);
                border: 3px solid #69ddca;
                width: 360px;
                height: 360px;
                border-radius: 50%;
                // z-index: 0;
            }
            &--inverse {
                &::before {
                    border-color: #FFE600;
                }
            }
        }
        &-right {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                right: -78px;
                bottom: -126px;
                box-shadow: 0 0 10px 3px rgba(105, 221, 202, 0.38%);
                border: 3px solid #69ddca;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            &--inverse {
                &::after {
                    border-color: #FFE600;
                }
            }
        }
        &-title {
            color: #fff;
            font-family: 'SF Pro Display', 'Arial', 'sans-serif';
            font-size: 29px;
            font-weight: 800;
            line-height: 1.6em;
        }
        &-text {
            color: #fff;
            font-family: 'SF Pro Display', 'Arial', 'sans-serif';
            font-size: 21px;
            font-weight: 800;
            line-height: 1.6em;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                left: -20px;
                top: -20px;
                box-shadow: 0 0 10px 3px rgba(105, 221, 202, 0.38%);
                border: 3px solid #69ddca;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                z-index: 0;
            }
            &--inverse {
                &::after {
                    border-color: #FFE600;
                }
            }
        }
        &-button {
            font-family: 'SF Pro Display', 'Arial', 'sans-serif';
            font-size: 15px;
            line-height: 1;
            font-weight: 700;
            color: #363636;
            background-color: #FAE61D;
            border-radius: 25px;
            padding: 15px 65px;
            outline: none;
            margin-top: 35px;
            transition: all 300ms ease-in-out;
            border: 1px solid #FAE61D;
            cursor: pointer;
            outline: none;
            &--inverse {
                background-color: #69ddca;
                border-color: #69ddca;
            }
            &:hover,
            &:focus {
                color: #363636;
                background-color: transparent;
                transform: scale(0.9);
            }
        }
    }
}

@media (max-width: 1100px) {
    .main-9 {
        &__wrap {
            width: 96%;
        }
        &__block {
            &-left {
                &::before {
                    left: -87px;
                    top: -75px;
                }
            }
            &-title {
                font-size: 24px;
            }
            &-text {
                font-size: 17px;
                &::after {
                    left: -26px;
                    top: -23px;
                }
            }
            &-button {
                font-size: 13px;
                padding: 10px 35px 10px 35px;
            }
        }
    }
}

@media (max-width: 760px) {
    .main-9 {
        &__block {
            flex-direction: column;
            align-items: center;
            padding: 15px 25px;
            &-left {
                width: 100%;
                padding: 20px 0 30px 0;
                &::before {
                    display: none;
                }
            }
            &-right {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                &::after {
                    width: 60px;
                    height: 60px;
                    right: -30px;
                    bottom: -43px;
                }

            }
            &-title {
                width: 100%;
                font-size: 21px;
                text-align: center;
            }
            &-text {
                width: 100%;
                text-align: center;
                font-size: 16px;
                &::after {
                    width: 40px;
                    height: 40px;
                    left: 15px;
                }
            }
            &-button {
                margin-bottom: 10px;
            }
        }
    }
}