.blog-4 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 80px 0;
    
    &__wrap {
        padding: 0 20px;
        width: 1024px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__block {
        width: 442px;
        height: 442px;
        &-img {
            width: 442px;
            height: 442px;
        }

    }
    &__info {
        width: 482px;

        &-title {
            font-family: "SF Pro Display", Sans-serif;
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.4em;
            color: #363636;
        }
        &-list {
            margin-top: 30px;
        }
        &-item {
            color: #4A4A4A;
            font-family: "SF Pro Display", Sans-serif;
            font-size: 20px;
            line-height: 1.5em;
            margin-bottom: 15px;
            margin-left: 40px;
            &:before {
                top: 50%;
                transform: translateY(-50%);
                right: calc(100% + 17px);
            }
            &--pink {
                color:#ff0099
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-button {
            margin-top: 38px;
            font-family: "SF Pro Display", Sans-serif;
            font-size: 15px;
            font-weight: 700;
            transition: 0.5s;
            border-radius: 22px;
            padding: 14px 45px 14px 45px;
            line-height: 1;
            background-color: #FF0099;
            border: 1px solid #FF0099;
            color: #fff;
            cursor: pointer;
            &:hover {
                color: #FF0099;
                background-color: #FFFFFF;
                transform: scale(0.9);
            }
        }
    }
}

@media(max-width:1000px) {
    .blog-4 {
        &__wrap {
            flex-direction: column;
            width: 98%;
        }
        &__info {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 50px;
            &-title {
                text-align: center;
            }
            &-list {
                margin-top: 30px;
            }
            &-item {
                margin-top: 40px;
                margin-bottom: 40px;
                padding-top: 20px;
                margin-left: 0;
                text-align: center;
                &:before {
                    top: unset;
                    right: unset;
                    bottom: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}

@media(max-width:767px) {
    .blog-4 {
        &__info {
            &-title {
                font-size: 25px;
            }
            &-item {
                font-size: 15px;
            }
        }
    }
}


@media(max-width:500px) {
    .blog-4 {
        &__block {
            width: 100%;
            height: auto;
            &-img {
                width: 100%;
                height: auto;
            }
        }
        &__info {
            width: 100%;
        }
    }
}