.blog-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffe600;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &__wrap {
        width: 1024px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 53px;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-bottom: 120px solid #ffffff;
            border-left: 100vw solid transparent;
            background: transparent;
            z-index: 2;
        }
    }
    &__left {
        margin-top: 75px;
        width: 492px;
        position: relative;
        // &:before {
        //     background: #FF009E;
        //     box-shadow: 5px 5px 25px #FF009E;
        //     content: '';
        //     position: absolute;
        //     left: 7px;
        //     top: 2px;
        //     height: 40px;
        //     width: 40px;
        //     border-radius: 50%;
        //     z-index: -1;
        // }
    }
    &__right {

    }
    /* &__img {
         width: 480px;
         height: 490px;
     } */
    &__img {
        width: 480px;
        height: 442px;
    }
    &__title {
        color: #363636;
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-size: 36px;
        font-weight: 900;
        line-height: 1.3em;
        margin-top: 0px;
        margin-bottom: 40px;
        margin-left: 10px;
    }
    &__text {
        color: #363636;
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 45px;
        margin-left: 10px;
    }
    &__links {
        display: flex;
        align-items: flex-start;
        margin-left: 10px;
    }
    &__link {
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-size: 15px;
        font-weight: 700;
        transition: 0.5s;
        border-radius: 26px;
        padding: 14px 45px 14px 45px;
        line-height: 1;
        background-color: #FF0099;
        border: 1px solid #FF0099;
        color: #fff;
        &:hover {
            color: #FF0099;
            background-color: #FFFFFF;
            transform: scale(0.9);
        }
    }
}

@media (max-width: 1100px) {
    .blog-1 {
        &__wrap {
            width: 90%;
        }
        &__left {
            width: 90%;
            &:before {
                display: none;
            }
        }
        &__title {
            text-align: center;
        }
        &__text {
            text-align: center;
        }
        &__links {
            justify-content: center;
        }
    }
}
@media (max-width: 1000px) {
    .blog-1 {
        &__right {
            margin-top: 20px;
        }
    }
}
@media (max-width: 900px) {
    .blog-1 {
        &__wrap {
            flex-direction: column;
            margin-bottom: 0px;
        }
        &__right {
            margin-top: 60px;
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 500px) {
    .blog-1 {   
        &__title {
            font-size: 30px;
        }
        &__text {
            font-size: 16px;
        }
        .blog-1__link {
            font-size: 14px;
            margin-right: 10px;
            padding: 15px 25px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__right {
            margin-left: 36px;
        }
    }
}