.blog-01 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // background-color: #69DDCA;
    position: relative;
    overflow: hidden;
    z-index: 0;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-bottom: 120px solid #ffffff;
        border-left: 100vw solid transparent;
        background: transparent;
        z-index: 0;
    }
    &__wrap {
        width: 1024px;
        display: flex;
        justify-content: space-between;
    }
    &__left {
        margin-top: 150px;
        width: 492px;
        position: relative;
    }
    &__right {
        padding-top: 30px;
        width: 645px;
        height: 556px;
    }
    &__img {
        width: 645px;
        height: 556px;
        object-fit: cover;
    }
    &__title {
        color: #363636;
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-weight: 900;
        margin-top: 0px;
        margin-bottom: 19px;
        margin-left: 10px;
        width: 482px;
        font-weight: bold;
        font-size: 36px;
        line-height: 120%;
    }
    &__text {
        color: #363636;
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 45px;
        margin-left: 10px;
        width: 482px;
        line-height: 32px;
    }
    // &__links {
    //     display: flex;
    //     align-items: flex-start;
    //     margin-left: 10px;
    // }
    // &__link {
    //     font-family: 'SF Pro Display', 'Arial', 'sans-serif';
    //     font-size: 15px;
    //     font-weight: 700;
    //     transition: 0.5s;
    //     border-radius: 26px;
    //     padding: 14px 45px 14px 45px;
    //     line-height: 1;
    //     background-color: #FF0099;
    //     border: 1px solid #FF0099;
    //     color: #fff;
    //     cursor: pointer;
    //     &:hover {
    //         color: #FF0099;
    //         background-color: #FFFFFF;
    //         transform: scale(0.9);
    //     }
    // }
}

@media (max-width: 1100px) {
    .blog-01 {
        &__wrap {
            width: 90%;
            flex-direction: column;
            align-items: center;
        }
        &__left {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &:before {
                display: none;
            }
        }
        &__title {
            text-align: center;
            width: auto;
        }
        &__text {
            text-align: center;
            width: auto;
        }
        // &__links {
        //     justify-content: center;
        // }
    }
}

@media (max-width: 550px) {
    .blog-01 {   
        &__title {
            font-size: 30px;
        }
        &__text {
            font-size: 16px;
        }
        .blog-01__link {
            font-size: 14px;
            margin-right: 10px;
            padding: 15px 25px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__right {
            margin-left: 36px;
            width: 387px;
            height: 334px;
        }
        &__img {
            width: 387px;
            height: 334px;
        }
    }
}