.blog-03 {
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: #ffe600;
    overflow: hidden;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 120px solid #fff;
        border-right: 100vw solid transparent;
        background: 0 0;
        z-index: 0;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-bottom: 120px solid #fff;
        border-left: 100vw solid transparent;
        background: 0 0;
        z-index: 0;
    }
    &__wrap {
        width: 768px;
        margin: 215px 0 200px 0;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
        &:nth-child(2n) {
            .blog-03__photo {
                order: 2
            }
            .blog-03__info {
                order: 1
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__photo {
        width: 368px;
        // height: 368px;
    }
    &__image {
        width: 368px;
        height: 368px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &::after {
            content: '';
            width: 368px;
            height: 368px;
            border-width: 5px;
            border-style: solid;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            border-radius: 50%;
        }
    }
    &__info {
        width: 370px;
        margin-top: 10px;
        color: #363636;
        max-width: 770px;
        &-title {
            font-family: 'SF Pro Display', Arial;
            font-style: normal;
            font-weight: 600;
            font-size: 21px;
            line-height: 160%;
            margin-bottom: 20px;
            position: relative;
            z-index: 1;
            &:after {
                content: '';
                position: absolute;
                left: -12px;
                top: -3px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                z-index: -1;
            }
        }
        &-text {
            font-family: 'SF Pro Display', Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;
        }
    }
    &__name {
        font-family: 'SF Pro Display',Arial;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        margin-top: 11px;
    }
}

@media (max-width: 1100px) {
    .blog-03 {
        &__wrap {
            width: 96%;
        }
        &__info {
            width: auto;
            align-items: center;
            order: 2;
        }
        &__row {
            flex-direction: column;
            align-items: center;
            &:nth-child(2n) {
                .blog-03__photo {
                    order: 1
                }
                .blog-03__info {
                    order: 2
                }
            }
        }
        &__photo {
            order: 1;
        }
        &__image {
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 1000px) {
    .blog-03 {
        &__wrap {
            width: 90%;
        }
    }
}

@media (max-width: 500px) {
    .blog-03 {
        &__name {
            margin-top: 30px;
        }
        &__row {
            // &--first {
            //     margin-bottom: 20px;
            //     .blog-03__image {
            //         width: 100%;
            //         height: auto;
            //     }
            // }
        }
        &__image {
            width: 100%;
            height: auto;
        }
        &__img {
            width: 314px;
            height: 314px;
        }
        &__info {
            font-size: 14px;
        }
    }
}