.blog-04 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 56px 0;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 120px solid #fff;
        border-right: 100vw solid transparent;
        background: 0 0;
        z-index: 0;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-bottom: 120px solid #fff;
        border-left: 100vw solid transparent;
        background: 0 0;
        z-index: 0;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1024px;
        margin: 200px 0;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        figure.table {
            width: 100%;
            text-align: center;
            display: inline-block;
        }
        h2 {
            
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 130%;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #363636;
            width: 770px;
        }
        table {
            margin-top: 60px;
            border-spacing: 0;
            thead {
                & > tr {
                    & > th {
                        padding: 14px 26px 14px 20px;
                        
                        font-style: normal;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 130%;
                        color: #363636;
                        &:first-child {
                            border-radius: 5px 0 0 0;
                        }
                        &:last-child {
                            border-radius: 0 5px 0 0;
                        }
                    }
                }
            }
            tbody {
                & > tr {
                    background-color: #F4F4F4;
                    &:nth-child(2n) {
                        background-color: #fff;
                    }
                    &:last-child {
                        color: #363636;
                        & > td {
                            &:first-child {
                                border-radius: 0 0 0 5px;
                            }
                            &:last-child {
                                border-radius: 0 0 5px 0;
                            }
                        }
                    }
                    & > td {
                        padding: 14px 26px 14px 20px;
                        
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 130%;
                        color: #363636;
                        &:first-child {
                            font-weight: 600;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .blog-04  {
        &__wrap {
            width: 90%;
        }
        &__info {
            width: auto;
        }
        &__title {
            font-size: 21px;
        }
        &__text {
            font-size: 14px;
        }
    }
}
@media (max-width: 770px) {
    .blog-04 {
        &__content {
            h2 {
                width: auto;
            }
        }
    }
}
@media (max-width: 1000px) {

    .blog-04  {
        &__content {
            figure.table {
                overflow-y: auto;
            }
        }
    }

}