.blog-02 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 56px 0;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 120px solid #fff;
        border-right: 100vw solid transparent;
        background: 0 0;
        z-index: 0;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-bottom: 120px solid #fff;
        border-left: 100vw solid transparent;
        background: 0 0;
        z-index: 0;
    }

    &__wrap {
        width: 970px;
        display: flex;
        justify-content: center;
        margin: 200px 0;
    }
    // &__title {
    //     color: #363636;
    //     font-family: 'SF Pro Display', 'Arial', 'sans-serif';
    //     font-size: 30px;
    //     font-weight: 700;
    //     text-transform: uppercase;
    //     line-height: 1.4em;
    //     text-align: center;
    // }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            &:first-child {
                margin-top: 0;
            }
            color: #363636;
            font-family: 'SF Pro Display', 'Arial', 'sans-serif';
            font-weight: 400;
            line-height: 30px;
            font-size: 18px;
            max-width: 770px;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            color: #FF009E;
            text-decoration: underline;
        }
        h2,h3 {
            color: #363636;
            font-family: 'SF Pro Display', 'Arial', 'sans-serif';
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.4em;
            text-align: center;
            margin-bottom: 60px;
        }
        blockquote {
            margin-top: 36px;
            margin-bottom: 56px;
            background: #FFE600;
            padding: 85px 100px 40px;
            position: relative;
            p {
                font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: #363636;
            }
            &::before {
                content: '“';
                position: absolute;
                font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                font-style: normal;
                font-weight: normal;
                font-size: 130px;
                line-height: 155px;
                color: #FF009E;
                top: 0;
                left: 69px;
            }
        }
    }
    &__info {
        margin-top: 35px;
    }
}

@media (max-width: 1000px) {

    .blog-02  {
        &__wrap {
            width: 90%;
        }
        &__info {
            width: auto;
        }
        &__title {
            font-size: 21px;
        }
        &__content {
            p {
                font-size: 14px;
            }
        }
    }

}

@media (max-width: 768px) {
    .blog-02 {
        &__content {
            blockquote {
                p {
                    font-size: 16px;
                }
                padding: 60px 70px;
                &::before {
                    font-size: 90px;
                    line-height: 1.5;
                    left: 30px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .blog-02 {
        &__content {
            blockquote {
                p {
                    font-size: 15px;
                }
                padding: 40px 50px;
                &::before {
                    font-size: 70px;
                    left: 15px;
                }
            }
        }
    }
}