.filters {
    &__item {
        margin-top: 30px;
        &[open] > .filters__title {
            &::before {
                transform: rotate(315deg);
            }
        }
    }
    &__title {
        list-style: none;
        position: relative;
        cursor: pointer;
        margin-bottom: 20px;

        
        font-size: 16px;
        font-weight: 500;
        color: #000000;
        &::-webkit-details-marker {
            display:none;
          }
        &::before {
            right: 7.5px;
            border-bottom: 1px solid transparent;
            border-left: 1px solid transparent;
            border-top: 1px solid #dadada;
            border-right: 1px solid #dadada;
            transform: rotate(133deg);
            content: "";
            position: absolute;
            top: 50%;
            width: 8px;
            height: 8px;
            transition: all 0.5s;
            margin-top: -4px;
        }
    }
    &__content {

    }
    &__list {
        margin-bottom: 10px;
        max-height: 290px;
        overflow-y: auto;

        scrollbar-color: #74dfce #e5e5ec;
        scrollbar-width: thin;
        z-index: 1;

        &::-webkit-scrollbar {
            width: 4px;
            background-color: #e5e5ec;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #74dfce;
        }
        &--var-2 {
            margin-bottom: 0;
            margin-top: 15px;
        }
        &-item {
            // padding: 4px 0;
            // padding: 4px 0;
        }
        &-label {
            padding-top: 5px;
            padding-bottom: 5px;
            width: 100%;
            
            font-size: 14px;
            font-weight: 100;
        }
    }
    &__input {
        border:1px solid #dbdbdb;
        padding: 16px 20px;
        border-radius: 4px;
        width: 100%;
        outline: none;

        
        font-weight: 100;
        font-size: 14px;
        line-height: 18px;
        color: #999;
        &::placeholder {
            font-weight: 100;
            font-size: 14px;
            line-height: 18px;
        }
        &:hover,
        &:focus {
            border-color: #74dfce;
        }
    }
    &__audience {
        
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 27px;
        font-weight: 400;
    }
    &__footer {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-text {
            
            margin-bottom: 12.5px;
            font-size: 12px;
            line-height: 17px;
            font-weight: 100;
            color: #666666;
            width: 100%;
        }
        &-button {
            
            font-size: 16px;
            font-weight: 700;
            text-align: center;

            outline: none;
            cursor: pointer;
            width: 100%;
            padding: 10px 0;
            background-color: #74dfce;
            border-radius: 5px;
            font-weight: 700;
            color: #000;
            transition: .3s ease-in-out;
            max-width: 300px;
            border: 1px solid transparent;
            &:hover {
                box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.25)
            }
            &--apply {
                display: none;
            }
            &--reset {
                background-color: #fff;
                border: 1px solid #74dfce;
            }
        }
    }
    &__button {
        display: block;
        line-height: 1.2;
        padding: 12px 0 11px 0;
        text-align: center;
        border: 1px solid #74dfce;
        background: #fff;
        border-radius: 25px;
        color: #000;
        font-size: 17px;
    }
}

@media (max-width: 1050px) {
    .filters {
        &__footer {
            &-button {
                &--apply {
                    display: block;
                }
                &--reset {
                    margin-top: 10px;
                }
            }
        }
    }
}