.charts__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    &-item {
        width: 32%;
        margin-top: 25px;
        // outline: 1px solid #ff0000;
        // height: 200px;
        display:flex;
    }
    &-doughnut {
        width:138px;
        height:138px;
        align-self: center;
    }
}

@media (max-width: 900px) {
    .charts__list {
        &-item {
            width: 100%;
        }
    }
}