.hightlights {
    width: 100%;
    overflow-x: auto;
    margin-top: 30px;
    .info {
        display: none !important;
    }
}
#zuck-modal {
    .time {
        display: none !important;
    }
    .previous,
    .next {
        z-index: 10 !important;
        cursor: pointer;
    }
    .left > {
        .back {
            display: none !important;
        }
    }
    .close {
        margin-right: 20px !important;
        line-height: 10px !important;
        display: block !important;
    }
}

@media (max-width: 1048px) {
    #zuck-modal {
        .close {
            margin-right: 0 !important;
            line-height: 48px !important;
        }
    }
}
@media (max-width: 768px) {
    .hightlights {
        width: calc(100vw - 60px);
    }
}