.rek-5 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
    
    &__wrap {
        width: 1024px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__block {
        width: 496px;
        height: 461px;
        &-img {
            width: 496px;
            height: 461px;
        }
    }
    &__info {
        width: 482px;
        &-title {
            color: #363636;
            font-family: 'SF Pro Display', 'Arial', 'sans-serif';
            font-size: 26px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.5em;
        }
        &-text {
            margin-top: 35px;
            color: #363636;
            font-family: 'SF Pro Display', 'Arial', 'sans-serif';
            font-size: 15px;
            font-weight: 400;
            line-height: 26px;
        }
        &-button {
            margin-top: 50px;
            font-family: 'SF Pro Display', 'Arial', 'sans-serif';
            font-size: 15px;
            font-weight: 700;
            transition: 0.5s;
            border-radius: 22px;
            padding: 14px 45px 14px 45px;
            line-height: 1;
            background-color: #FF0099;
            border: 1px solid #FF0099;
            color: #fff;
            cursor: pointer;
            outline: none;
            &:hover,
            &:focus {
                color: #FF0099;
                background-color: #FFFFFF;
                transform: scale(0.9);
            }
        }
    }
}

@media (max-width: 1000px) {
    .rek-5 {
        &__wrap {
            width: 90%;
        }
        &__block {
            display: none;
        }
        &__info {
            width: auto;
            &-title {
                font-size: 25px;
                line-height: 1.3em;
            }
        }
    }
}