.good-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0px 130px 0px;
    position: relative;
    overflow: hidden;
    &__wrap {
        width: 1024px;
        padding: 0 2%;
    }
    &__title {
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.4em;
        color: #363636;
        text-align: center;
    }
    &__description {
        color: #363636;
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-weight: 400;
        text-align: center;
        margin-top: 35px;
    }
    &__items {
        display: flex;
        margin-top: 80px;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: auto;
        position: relative;
        margin-right: 10px;
        transition: all .5s ease 0.1s;
        &::before {
            transition: all .5s ease 0.1s;
        }
        &:hover {
            background-color: transparent;
            &::before {
                border: 2px solid transparent;
            }
            .good-2__text {
                color: transparent;
            }
        }
        &:last-child {
            margin-right: 0;
        }
        &--purple {
            background-color: rgba(255, 229, 0, 0.8);
            &::before {
                border: 2px solid #ff0099;
            }
        }
        &--yellow {
            background-color: rgba(105, 221, 202, .8);
            &::before {
                border: 2px solid #ffe500;
            }
        }
        &--green {
            background-color: rgba(255, 0, 153, .8);
            &::before {
                border: 2px solid #69ddca;
            }
        }
        &:before {
            content: '';
            position: absolute;
            width: 80%;
            padding-bottom: 77.695%;
            border-radius: 50%;
        }
    }
    &__text {
        color: #363636;
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-size: 19px;
        font-weight: 800;
        position: absolute;
        transition: all .5s ease 0.1s;
    }
    &__img {
        width: 100%;
        height: auto;
        z-index: -1;
        display: flex;
    }
    &__circle {
        &-left {
            position: absolute;
            left: 0;
            top: 335px;
            width: 120px;
            height: 381px;

            img {
                width: 120px;
                height: 381px;
            }
        }
        &-right {
            position: absolute;
            right: 0;
            top: 30px;
            width: 170px;
            height: 475px;

            img {
                width: 170px;
                height: 475px;
            }
        }
    }
}


@media (max-width: 1270px) {
    .good-2 {
        &__circle {
            &-left {
                left: -20px;
                transform: scale(0.7);
                img {
                    
                }
            }
            &-right {
                right: -36px;
                transform: scale(0.6);
                img {

                }
            }
        }
    }
}
@media (max-width: 1140px) {
    .good-2 {
        &__circle {
            &-left {
                display: none;
            }
            &-right {
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .good-2 {
        &__wrap {
            width: 92%;
            padding: 0;
        }
        &__items {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin: 0 0 10px 0;
            width: 100%;
            height: auto;
            &:last-child {
                margin: 0;
            }
        }
        &__img {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 500px) {
    .good-2 {
        &__title {
            font-size: 24px;
        }
    }
}