.good-6 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 80px 0;
    position: relative;
    &__wrap {
        width: 1024px;
    }
    &__title {
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: #363636;
        text-align: center;
    }
    &__row {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        &--line {
            padding-bottom: 25px;
            margin-bottom: 25px;
            position: relative;
            &:after {
                position: absolute;
                content: '';
                background: #e0e0e0;
                width: 100%;
                height: 1px;
                top: 100%;
            }
        }
    }
    &__info {
        width: 482px;
        &-title {
            color: #363636;
            font-family: "SFProDisplay", Sans-serif;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
        }
        &-text {
            margin-top: 35px;
            line-height: 1.7em;
            color: #363636;
            font-family: 'SF Pro Display', 'Arial', 'sans-serif';
            font-weight: 400;
            &--data {
                width: 25%;
                min-width: 25%;
                font-weight: 700;
            }
        }
        &-row {
            display: flex;
        }
    }
    &__block {
        margin-left: 20px;
        &-img {
            width: 482px;
            height: 366px;
        }
    }
    &__circle {
        &-left {
            position: absolute;
            left: 0;
            top: 160px;
            width: 237px;
            height: 575px;

            img {
                width: 237px;
                height: 575px;
            }
        }
    }
    &__left {
        width: 482px;
        &-text {
            margin-top: 0;
        }
    }
    &__right {
        margin-left: 20px;
        width: 482px;
        &-sticker {
            background: #F2F2F2;
            padding: 20px;
            &-title {
                text-align: right;
                color: #363636;
                font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                font-weight: 700;
                line-height: 1em;
                margin-top: 10px;
            }
            &-text {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 1450px) {
    .good-6 {
        &__circle-left {
            left: -36px;
            img {
                transform: scale(0.7);
            }
        }
    }
}

@media (max-width: 1320px) {
    .good-6 {
        &__circle-left {
            left: -61px;
            img {
                transform: scale(0.5);
            }
        }
    }
}

@media (max-width: 1230px) {
    .good-6 {
        &__circle-left {
            display: none;
        }
    }
}

@media (max-width: 1050px) {
    .good-6 {
        &__wrap {
            width: 90%;
        }
        &__title {
            font-size: 21px;
        }
        &__circle-left {
            display: none;
        }
        &__row {
            flex-direction: column;
        }
        &__info {
            width: auto;
            &-row {
                flex-direction: column;
                .good-6__info-text {
                    margin-left: 10px;
                }
            }
            &-text {
                // margin-left: 10px;
                &--data {
                    margin-top: 20px;
                    width: auto;
                    min-width: auto;
                    margin-left: 0 !important;
                }
            }
        }
        &__block {
            margin-left: 0;
            display: flex;
            justify-content: center;
        }
        &__left {
            width: auto;
        }
        &__right {
            margin-left: 0;
            width: auto;
            &-sticker {
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    .good-6 {
        &__block {
            width: 100%;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}