.turquoise {
    &--bg {
        background-color: #69ddca !important;
        &-after {
            &::after {
                background-color: #69ddca !important;
            }
        }
    }
    &--border {
        border-color: #69ddca !important;
        &-after {
            &::after {
                border-color: #69ddca !important;
            }
        }
    }
    &--color {
        color: #69ddca !important;
    }
    &--thead {
        thead {
            background-color: #69ddca !important;
        }
    }
}
.yellow {
    &--bg {
        background-color: #ffe600 !important;
        &-after {
            &::after {
                background-color: #ffe600 !important;
            }
        }
    }
    &--border {
        border-color: #ffe600 !important;
        &-after {
            &::after {
                border-color: #ffe600 !important;
            }
        }
    }
    &--color {
        color: #ffe600 !important;
    }
    &--thead {
        thead {
            background-color: #ffe600 !important;
        }
    }
}
.white {
    &--bg {
        background-color: #fff !important;
        &::after,
        &::before {
            display: none;
        }
        .blog-02__wrap,
        .blog-03__wrap,
        .blog-04__wrap,
        .blog-07__wrap,
        .blog-05__wrap {
            margin: unset;
        }
        &-after {
            &::after {
                background-color: #fff !important;
            }
        }
    }
    &--border {
        border-color: #fff !important;
        &-after {
            &::after {
                border-color: #fff !important;
            }
        }
    }
    &--color {
        color: #fff !important;
    }
    &--thead {
        thead {
            background-color: #fff !important;
        }
    }
}
.pink {
    &--bg {
        background-color: #FF009E !important;
        &-after {
            &::after {
                background-color: #FF009E !important;
            }
        }
    }
    &--border {
        border-color: #FF009E !important;
        &-after {
            &::after {
                border-color: #FF009E !important;
            }
        }
    }
    &--color {
        color: #FF009E !important;
    }
    &--thead {
        thead {
            background-color: #FF009E !important;
        }
    }
}