.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &--start {
        .modal__body {
            width: 550px;
            padding: 40px;
            background: #FFE600;
            border-radius: 5px;
        }
    }
    &--phone {
        .modal__body {
            width: 350px;
            padding: 30px 20px 10px 20px;
            background-color: #fff;
            border-radius: 5px;
        }
    }
    &--blog {
        .modal__body {
            width: 630px;
            box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.3);
            background-color: #fff;
        }
    }

    &--rek {
        .modal__body {
            width: 630px;
            box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.3);
            background-color: #fff;
            .modal__body-rek {
                display: flex;
            }
            .modal__body-rek-content-form {
                display: flex;
            }
        }
        &-2 {
            .modal__body {
                width: 630px;
                box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.3);
                background-color: #fff;
                .modal__body-rek {
                    display: flex;
                }
                .modal__body-rek-content-form-2 {
                    display: flex;
                }
            }
        }
    }
    &__body {
        //margin: 50px auto; //or max-height: 95vh;
        max-height: 95vh;
        position: relative;
        box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.25%);
        z-index: 4;
    }
    &__body-start {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
            color: #363636;
            font-family: 'SF Pro Display', 'Arial', 'sans-serif';
            font-size: 32px;
            font-weight: 700;
            line-height: 1.3em;
            position: relative;
            /*&:before {
                background: #ff009e;
                box-shadow: 5px 5px 25px #ff009e;
                content: '';
                position: absolute;
                left: -12px;
                top: -5px;
                height: 52px;
                width: 52px;
                border-radius: 50%;
                z-index: -1;
            }*/
        }
        &-buttons {
            display: flex;
            margin: 70px 0;
        }
        &-button {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 217px;
            height: 217px;
            text-align: center;
            border-radius: 50%;
            line-height: 1.3;
            transition: all 300ms ease-in-out;
            &--blog {
                border: 3px solid #69DDCA;
                box-shadow: 5px 5px 20px #69ddca;
                color: #69DDCA;
                &:hover {
                    background: #69DDCA;
                    color: #fff;
                }
            }
            &--rek {
                border: 3px solid #FF009E;
                box-shadow: 5px 5px 20px #FF009E;
                color: #FF009E;
                &:hover {
                    background: #FF009E;
                    color: #fff;
                }
            }
        }
        &-text {
            font-size: 18px;
            font-family: 'SF Pro Display', 'Arial', 'sans-serif';
            font-weight: 700;
            line-height: 1.3;
            &--desc {
                font-size: 12px;
            }
        }
    }
    &__body-blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-head {
            background: #FFE600;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 30px 0;
        }
        &-title {
            color: #363636;
            font-family: 'SF Pro Display', 'Arial', 'sans-serif';
            font-size: 24px;
            font-weight: 700;
            line-height: 1.3em;
            position: relative;
            text-align: center;
            width: fit-content;
            /*&:before {
                background: #ff009e;
                box-shadow: 5px 5px 25px #ff009e;
                content: '';
                position: absolute;
                left: -12px;
                top: -5px;
                height: 52px;
                width: 52px;
                border-radius: 50%;
                z-index: -1;
            }*/
        }
        &-content {
            background: #fff;
            width: 100%;
            padding: 40px;
            &-title {
                font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                color: #323232;
                font-size: 18px;
                font-weight: 700;
                line-height: 1.5em;
                text-align: center;
            }
            &-text {
                font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                color: #C4C4C4;
                font-size: 15px;
                font-weight: 400;
                line-height: 26px;
                text-align: center;
            }
            &-progress {
                margin-top: 15px;
                height: 11px;
                background: #F3F3F3;
                border-radius: 26px;
                &-bar {
                    background: #69DDCA;
                    box-shadow: 0px 3px 15px rgba(0, 222, 203, 0.5);
                    border-radius: 26px;
                    height: 11px;
                    transition: width .6s ease;
                }
            }
            &-card {
                margin: 20px 0;
            }
            &-form {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                display: flex;
                &-row {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                }
                &-label {
                    padding:0 5px;
                    width: 50%;
                    margin-bottom: 30px;
                    &--full {
                        width: 100%;
                    }
                }
                &-list {
                    width: 100%;
                    margin: 20px 0;
                    &-item {
                        margin-bottom: 20px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                    &-label {
                        display: flex;
                        align-items: center;
                    }
                    &-input {
                        width: 50% !important;
                    }
                    &-text {
                        display: block;
                        width: 50%;
                        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 19px;
                        color: #323232;
                        &--info {
                            width: 100%;
                            color: #000;
                            font-weight: 400;
                            margin-bottom: 20px;
                        }
                        &.required {
                            font-weight: 500;
                            &::after {
                                content: "*";
                                color: #FF0000;
                                margin-left: 4px;
                            }
                        }
                    }
                    &-descr {
                        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 19px;
                        color: #323232;
                        margin-left: 8px;
                    }
                }
                &-text {
                    font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                    font-weight: 200;
                    font-size: 16px;
                    line-height: 19px;
                    color: #363636;
                    margin-bottom: 18px;
                    &.required {
                        &::after {
                            content: "*";
                            color: #FF0000;
                            margin-left: 4px;
                        }
                    }
                }
                &-input {
                    font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                    color: #999;
                    font-size: 14px;
                    font-weight: 400;
                    outline: none;
                    height: 50px;
                    background: #fff;
                    box-shadow: none;
                    line-height: 18px;
                    padding: 10px 20px;
                    border-radius: 4px;
                    display: inline-block;
                    vertical-align: middle;
                    border: 1px solid #dbdbdb;
                    width: 100%;
                    &::placeholder {
                        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                        color: #999;
                        font-size: 14px;
                        font-weight: 400;
                    }
                    &:focus {
                        border: 1px solid #69DDCA;
                    }
                }
                &-for_svg {
                    position: relative;
                }
                &-svg {
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                    width: 22px;
                    height: 22px;
                    position: absolute;
                    cursor: pointer;
                }
                &-button {
                    font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                    background: #FF009E;
                    box-shadow: 0px 4px 23px rgba(255, 0, 158, 0.41);
                    border-radius: 35px;
                    height: 50px;
                    line-height: 50px;
                    color: #fff;
                    font-weight: 700;
                    min-width: 200px;
                    text-align: center;
                    padding: 0 20px;
                    font-size: 16px;
                    outline: none;
                    cursor: pointer;
                    &:hover,
                    &:focus {
                        background: #C70077;
                        color: #fff;
                    }
                    &[disabled] {
                        cursor: wait;
                        color: #363636;
                        box-shadow: 0 4px 23px rgba(119, 105, 114, 0.41);
                        background-color: #dbdbdb;
                    }
                }
                &-textarea {
                    font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                    color: #999;
                    font-size: 14px;
                    font-weight: 400;
                    outline: none;
                    height: 50px;
                    background: #fff;
                    box-shadow: none;
                    line-height: 18px;
                    padding: 10px 20px;
                    border-radius: 4px;
                    display: inline-block;
                    vertical-align: middle;
                    border: 1px solid #dbdbdb;
                    width: 100%;
                    min-height: 140px;
                    resize: vertical;
                }
                &-final {
                    margin: 10px 20px 30px 0;
                    a {
                        color: #363636;
                        font-weight: 300;
                        color: #69DDCA;
                        text-decoration: underline;
                    }
                }
                &-radio {
                    &-label {
                        display: inline-block !important;
                        span {
                            vertical-align: middle;
                        }
                        a {

                        }
                    }
                }
            }
            &-row {
                display: flex;
                align-items: center;
                margin-top: 29px;
            }
            &-list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
            &-item {
                margin-bottom: 30px;
                width: 33%;
            }
        }
    }
    &__body-rek {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-head {
            background: #FFE600;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 30px 0;
        }
        &-title {
            color: #363636;
            font-family: 'SF Pro Display', 'Arial', 'sans-serif';
            font-size: 24px;
            font-weight: 700;
            line-height: 1.3em;
            position: relative;
            text-align: center;
            width: fit-content;
            /*&:before {
                background: #ff009e;
                box-shadow: 5px 5px 25px #ff009e;
                content: '';
                position: absolute;
                left: -12px;
                top: -5px;
                height: 52px;
                width: 52px;
                border-radius: 50%;
                z-index: -1;
            }*/
        }
        &-content {
            background: #fff;
            width: 100%;
            padding: 40px;
            &-title {
                font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                color: #323232;
                font-size: 18px;
                font-weight: 700;
                line-height: 1.5em;
                text-align: center;
            }
            &-text {
                font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                color: #C4C4C4;
                font-size: 15px;
                font-weight: 400;
                line-height: 26px;
                text-align: center;
            }
            &-progress {
                margin-top: 15px;
                height: 11px;
                background: #F3F3F3;
                border-radius: 26px;
                &-bar {
                    background: #69DDCA;
                    box-shadow: 0px 3px 15px rgba(0, 222, 203, 0.5);
                    border-radius: 26px;
                    height: 11px;
                    transition: width .6s ease;
                }
            }
            &-form {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                display: flex;
                &-2 {
                    margin-top: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    display: flex;
                }
                &-row {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                }
                &-label {
                    padding:0 5px;
                    width: 50%;
                    margin-bottom: 30px;
                    &--full {
                        width: 100%;
                    }
                }
                &-text {
                    font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                    font-weight: 200;
                    font-size: 16px;
                    line-height: 19px;
                    color: #363636;
                    margin-bottom: 18px;
                    &.required {
                        &::after {
                            content: "*";
                            color: #FF0000;
                            margin-left: 4px;
                        }
                    }
                }
                &-input {
                    font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                    color: #999;
                    font-size: 14px;
                    font-weight: 400;
                    outline: none;
                    height: 50px;
                    background: #fff;
                    box-shadow: none;
                    line-height: 18px;
                    padding: 10px 20px;
                    border-radius: 4px;
                    display: inline-block;
                    vertical-align: middle;
                    border: 1px solid #dbdbdb;
                    width: 100%;
                    &::placeholder {
                        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                        color: #999;
                        font-size: 14px;
                        font-weight: 400;
                    }
                    &:focus {
                        border: 1px solid #69DDCA;
                    }
                }
                &-for_svg {
                    position: relative;
                }
                &-svg {
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                    width: 22px;
                    height: 22px;
                    position: absolute;
                    cursor: pointer;
                }
                &-button {
                    font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                    background: #FF009E;
                    box-shadow: 0px 4px 23px rgba(255, 0, 158, 0.41);
                    border-radius: 35px;
                    height: 50px;
                    line-height: 50px;
                    color: #fff;
                    font-weight: 700;
                    min-width: 200px;
                    text-align: center;
                    padding: 0 20px;
                    font-size: 16px;
                    outline: none;
                    cursor: pointer;
                    &:hover,
                    &:focus {
                        background: #C70077;
                        color: #fff;
                    }
                    &[disabled] {
                        cursor: wait;
                        color: #363636;
                        box-shadow: 0 4px 23px rgba(119, 105, 114, 0.41);
                        background-color: #dbdbdb;
                    }
                }
                &-textarea {
                    font-family: 'SF Pro Display', 'Arial', 'sans-serif';
                    color: #999;
                    font-size: 14px;
                    font-weight: 400;
                    outline: none;
                    background: #fff;
                    box-shadow: none;
                    line-height: 18px;
                    padding: 10px 20px;
                    border-radius: 4px;
                    display: inline-block;
                    border: 1px solid #dbdbdb;
                    width: 100%;
                    min-height: 140px;
                    resize: vertical;
                }
                &-final {
                    margin: 10px 20px 30px 0;
                    a {
                        color: #363636;
                        font-weight: 300;
                        color: #69DDCA;
                        text-decoration: underline;
                    }
                }
                &-radio {
                    &-label {
                        display: inline-block !important;
                        span {
                            vertical-align: middle;
                        }
                        a {

                        }
                    }
                }
            }
            &-row {
                display: flex;
                align-items: center;
                margin-top: 29px;
            }
            &-list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
            &-item {
                margin-bottom: 30px;
                width: 33%;
            }
        }
    }
    
    &__close {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 15px;
            right: 15px;
            color: #323232;
            width: 15px;
            height: 15px;
            cursor: pointer;
            font-size: 20px;
            font-weight: 400;
            &:hover,
            &:focus {
                color: #f04a76;
            }
    }
    &__body-phone {
        display: flex;
        flex-direction: column;
        &-row {
            display: flex;
            justify-content: space-between;
        }
    }
    &__input {
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-size: 14px;
        color: #999;
        font-weight: 400;
        outline: none;
        height: 50px;
        background: #fff;
        line-height: 18px;
        padding: 10px 20px;
        border-radius: 4px;
        border: 1px solid #dbdbdb;
        width: 100%;
        transition: all 300ms ease-in-out;
        margin-bottom: 10px;
        &:focus {
            border-color: #f04a76;
        }
    }
    &__header {
        font-size: 24px;
        color: #323232;
        line-height: 16px;
        text-align: center;
        margin-bottom: 30px;
    }
    &__button {
        outline: none;
        border: none;
        cursor: pointer;
        background: none;
        width: 100%;
        background: #FF009E;
        height: 50px;
        line-height: 50px;
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        margin: 10px 0;
        &:hover {
            box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.25%);
            background: #f04a76;
        }
    }
}

@media (max-width: 630px) {

    .modal {
        &--blog {
            .modal__body {
                width: 100%;
            }
        }
    }

}

@media (max-width: 676px) {
    .modal {
        &__body {
            &-blog {
                &-content {
                    padding: 20px;
                    &-item {
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media (max-width: 568px) {

    .modal {
        &__body-blog {
            &-content {
                &-form {
                    &-label {
                        width: 100%;
                    }
                }
            }
        }
    }

}