.select {
    font-family: 'SF Pro Display', 'Arial', 'sans-serif';
    font-size: 14px;
    color: #999;
    font-weight: 400;
    position: relative;
    display: block;
	background: #FFFFFF;
	border: 1px solid #dbdbdb;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;

    &:hover {
        // border: 1px solid #69DDCA;
    }
    &.open {
        // border-top: 1px solid $color3;
        // border-left: 1px solid $color3;
        // border-right: 1px solid $color3;
        border-bottom: 1px solid transparent;
        border-radius: 4px 4px 0 0;

        & .select__head::after {
            transform: translateY(-50%) rotate(180deg);
        }
        & .select__container {
            display: block;
        }
    }
    &__head {
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-size: 14px;
        padding: 12px 20px;
        color: #69DDCA;
        text-decoration: underline;
        position: relative;
        span {
            color: #999;
        }
    
        &::after {
            width: 10px;
            height: 10px;
            background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGZpbGw9IiM5OTk5OTkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMjU2IDI1NiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjU2IDI1NjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPGc+DQoJCTxwb2x5Z29uIHBvaW50cz0iMjI1LjgxMyw0OC45MDcgMTI4LDE0Ni43MiAzMC4xODcsNDguOTA3IDAsNzkuMDkzIDEyOCwyMDcuMDkzIDI1Niw3OS4wOTMgCQkiLz4NCgk8L2c+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8L3N2Zz4NCg==');
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            content: '';
            display: block;
            transition: .2s ease-in;
            background-size: 10px 10px;
        }
    }
    &__container {
        display: none;
        border: 1px solid #dbdbdb;
    }
    &__list {
        position: absolute;
        top: 100%;
        left: -1px;
        right: 0;
        background: #fff;
        border-radius: 0px 0px 4px 4px;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 100;
        max-height: 240px;
        border-left: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
    }
    &__item {
        font-family: 'SF Pro Display', 'Arial', 'sans-serif';
        font-size: 14px;
        color: #999;
        position: relative;
        padding: 2px 15px;
        cursor: pointer;
        list-style-type: none;
        line-height: 34px;
        &.active {
            background: #fcfcfc;
            color: #373542;
        }

        &:hover {
            color: #373542;
        }
    }
    &__search {
        width: 100%;
        padding: 3px 4px;
        &-input {
            height: 40px;
            border: 1px solid #aaa;
            margin: 1px 0;
            padding: 4px 20px 4px 5px;
            width: 100%;
            outline: 0;
            font-size: 1em;
            font-family: 'SF Pro Display', 'Arial', 'sans-serif';
            line-height: normal;
            border-radius: 0;
            &:hover,
            &:focus {
                border: 1px solid #69DDCA;
            }
        }

    }
}