* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	&:after,
	&:before {
		box-sizing: border-box;
	}
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.hide {
	display: none !important;
}
.show {
	opacity: 1 !important;
}
body {
	font-family: 'SF Pro Display', 'Arial', 'sans-serif';
	color: #000;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 26px;
}