* {
	font-family: "SF Pro Display",Arial,sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	&:after,
	&:before {
		box-sizing: border-box;
	}
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.hide {
	display: none !important;
}
.show {
	opacity: 1 !important;
}
.visible {
	display: block !important;
}
body {
	color: #000;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 26px;
}
.main-bg {
	background-color: #f7f7f7;
}

@media (max-width: 1050px) {
	.mobi-hide {
		display: none !important;
	}
}

.analytics {
	.only-mobile {
		display: none;
	}
}
@media (max-width: 900px) {
	.analytics {
		.no-mobile {
			display: none;
		}
		.only-mobile {
			display: inline;
		}
	}
}