@font-face {
    font-family: 'SF Pro Display';
    font-display: swap;
    src: local('SFProDisplay-Thin'),
         url('../fonts/SFProDisplay-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    font-display: swap;
    src: local('SFProDisplay-Ultralight'),
         url('../fonts/SFProDisplay-Ultralight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    font-display: swap;
    src: local('SFProDisplay-Light'),
         url('../fonts/SFProDisplay-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    font-display: swap;
    src: local('SFProDisplay-Regular'),
         url('../fonts/SFProDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    font-display: swap;
    src: local('SFProDisplay-Medium'),
         url('../fonts/SFProDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    font-display: swap;
    src: local('SFProDisplay-Semibold'),
         url('../fonts//SFProDisplay-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    font-display: swap;
    src: local('SFProDisplay-Bold'),
         url('../fonts//SFProDisplay-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    font-display: swap;
    src: local('SFProDisplay-Heavy'),
         url('../fonts//SFProDisplay-Heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    font-display: swap;
    src: local('SFProDisplay-Black'),
         url('../fonts//SFProDisplay-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}


// @font-face {
//     font-family: 'Poppins';
//     font-display: swap;
//     src: url('../fonts/Poppins-Thin.ttf') format('truetype');
//     font-weight: 100;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Poppins';
//     font-display: swap;
//     src: url('../fonts/Poppins-ThinItalic.ttf') format('truetype');
//     font-weight: 100;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Poppins';
//     font-display: swap;
//     src: url('../fonts/Poppins-Ultralight.ttf') format('truetype');
//     font-weight: 200;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Poppins';
//     font-display: swap;
//     src: url('../fonts/Poppins-UltralightItalic.ttf') format('truetype');
//     font-weight: 200;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Poppins';
//     font-display: swap;
//     src: url('../fonts/Poppins-Light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Poppins';
//     font-display: swap;
//     src: url('../fonts/Poppins-LightItalic.ttf') format('truetype');
//     font-weight: 300;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Poppins';
//     font-display: swap;
//     src: url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'),
//          url('../fonts/poppins-v15-latin-regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Poppins';
//     font-display: swap;
//     src: url('../fonts/poppins-v15-latin-700.woff2') format('woff2');
//     src: url('../fonts/poppins-v15-latin-700.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
// }